/* Portfolio Page Color Palette */
$portfolio-bg: var(--portfolio-bg);
$portfolio-primary: var(--portfolio-primary);
$portfolio-secondary: var(--portfolio-secondary);
$portfolio-heading: var(--portfolio-heading);
$portfolio-button: var(--portfolio-button);
$portfolio-text: var(--portfolio-text);

/* Landing Page Color Palette */
$landing-bg: var(--landing-bg);
$landing-primary: var(--landing-primary);
$landing-secondary: var(--landing-secondary);
$landing-heading: var(--landing-heading);
$landing-button: var(--landing-button);
$landing-text: var(--landing-text);